
body{
  background-image:url('./pictures/fond4.gif');
  background-size:1080px;
  background-repeat: no-repeat;
  background-position:50% -30%;
  background-color:#012539;
}

.containerBody{
  background-image:url('./pictures/exterieur.jpg');
  background-color: #000000;
  background-size:cover;
  background-position:50% 69%;
  background-repeat: no-repeat;
  width:100%;
  padding-top: 2%;
  padding-bottom: 9.4%;

}
.containerBodyHome{
  background-image:url('./pictures/exterieur2.jpg');
  background-color: #000000;
  background-size:cover;
  background-position:50% 0%;
  background-repeat: no-repeat;
  width:100%;
  height:935px;
  padding-top: 2%;
  padding-bottom: 11.9%;

}
.containerBodyLogin{
  background-image:url('./pictures/exterieur.jpg');
  background-color: #000000;
  background-size:cover;
  background-position:50% 69%;
  background-repeat: no-repeat;
  width:100%;
  padding-top: 2%;
  padding-bottom: 13.9%;

}

.containerBodyRegister{
  background-image:url('./pictures/exterieur.jpg');
  background-color: #000000;
  background-size:cover;
  background-position:50% 69%;
  background-repeat: no-repeat;
  width:100%;
  padding-top: 2%;
  padding-bottom: 5%;

}

.containerHome{
  background-color: rgba(70, 66, 110, 0.842);
  width:600px;
  height:400px;
  padding-left:50px;
  padding-right:50px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top:10%;
  margin-left: 35%;
  border-radius:5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color:white;
}

.container{
  background-color: rgba(70, 66, 110, 0.726);
  padding-left:50px;
  padding-right:50px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 2%;
  border-radius:5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color:white;
}

.containerButtonStandard{
  margin-left: 42%;
  margin-top: 5%;
  margin-bottom: 5%;

}

.containerLinkHome{
  height: 200px;
  width:200px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  margin-left: 25%;
  margin-top: 10%;
  text-align: center;
  font-size: 20px;
}

.container_summary{
  width:100%;
  margin-top: 6%;
}
.containerSummary{
  background-image: url('./pictures/background10.png'), url('./pictures/background11.png');
  background-color:#012539;
  background-size:contain;
  padding-top: 0%;
  padding-bottom: 12%;
  display:flex;
  justify-content:center;
  border-radius:5px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  color:white;
}
.containerSummaryUpdate{
  background-image: url('./pictures/background10.png'), url('./pictures/background11.png');
  background-color:#012539;
  background-size:contain;
  padding-top: 0%;
  padding-bottom: 20.3%;
  display:flex;
  justify-content:center;
  border-radius:5px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  color:white;
}

.containerUpdate{
  background-color: rgba(70, 66, 110, 0.89);
  padding-left:50px;
  padding-right:50px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 6%;
  border-radius:5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color:white;
  text-align: center;
  height:370px;
 
}
.containerCategorie{
  background-color: #46426eb6;
  padding:100px;
  display:flex;
  justify-content:center;
  margin-top: 50px;
  border-radius:5px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  color:white;
  min-height:500px;
  width:700px;
}

.containerSummaryQA{
  background-image: url('./pictures/background11.png'),url('./pictures/flocon4.gif');
  background-repeat: repeat-x;
  background-color:#012539;
  background-size:contain;
  width:100%;
  padding-top: 0%;
  display:flex;
  justify-content:center;
  border-radius:5px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  color:white;
}

.containerPlayer{
  background-image:url('./pictures/flocon4.gif');
  background-repeat: repeat-x;
  background-size:cover;
  padding-top: 0%;
  display:flex;
  justify-content:center;
  border-radius:5px;
  color:white;
  padding-bottom: 2%;

}

.containerTeamBuilding{
  background-image: url('./pictures/flocon4.gif'), url('./pictures/house.png'),url('./pictures/snow5.png'),url('./pictures/snow.png'),linear-gradient(#3cf0f6,#fad688,#ffdf88, #ebf8e1 );;
  background-repeat:repeat, no-repeat, repeat-x, repeat-x, no-repeat;
  background-position:right;
  background-size:contain;
  padding-top: 0%;
  display:flex;
  justify-content:center;
  color:white;
  padding-bottom:5.5%;
}

.containerTeamBuilding2{
  background-image: url('./pictures/flocon4.gif'), url('./pictures/house.png'),url('./pictures/snow5.png'),url('./pictures/snow.png'),linear-gradient(#f6423c,#f6bb3c,#ffdf88, #ebf8e1 );;
  background-repeat:repeat, no-repeat, repeat-x, repeat-x, no-repeat;
  background-position:right;
  background-size:contain;
  padding-top: 2%;
  display:flex;
  justify-content:center;
  color:white;
  padding-bottom:2%;
}

.container_question{
  color:#46426E;
  font-weight: bold;
  width:600px;
}


.containerTeam{
  background-color: rgba(70, 66, 110, 0.911);
  padding-left:50px;
  padding-right:50px;
  padding-bottom: 60px;
  padding-top: 20px;
  margin-top: 2%;
  margin-left: 5%;
  border-radius:5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color:white;
}

.containerTeamRandom{
  background-color: rgb(70, 66, 110);
  text-align: center;
  padding-left:50px;
  padding-right:50px;
  padding-top: 20px;
  margin-top: 2%;
  margin-left: 5%;
  border-radius:5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color:white;
}
.containerTeamRandomResultRandom{
  background-color: rgb(70, 66, 110);
  text-align: center;
  padding-left:4%;
  padding-right:4%;
  padding-top: 20px;
  padding-bottom: 3%;
  margin-top: 2%;
  margin-left: 5%;
  border-radius:5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color:white;
}
.containerButtonGame{
  background-image: url('./pictures/bonnet.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 19.5%;
  border-radius:50%;
  z-index: 10;
  margin-left: 85%;

}

.containerAvatarPresentation{
  display: flex;
  flex-flow: column wrap;
  width:35%;
  margin-left: 5%;
}
.containerAvatarPresentationTitle{
  display: flex;
  flex-flow: row wrap;
  justify-content:left;
  padding-top: 20px;
  padding-bottom: 20px;

}
.containerAvatarPresentationTitle h2{
  margin-top: 6%;
}

.containerRulers{
  color:white;
  background-color:#746fb4;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.containerTeamBuildingResultRandom{
  background-image: url('./pictures/flocon4.gif'), url('./pictures/house.png'),url('./pictures/snow5.png'),url('./pictures/snow.png'),linear-gradient(#3cf0f6,#fad688,#ffdf88, #ebf8e1 );;
  background-repeat:repeat, no-repeat, repeat-x, repeat-x, no-repeat;
  background-position:right;
  background-size:contain;
  padding-top: 2%;
  display:flex;
  justify-content:center;
  color:white;
  padding-bottom:6%;
}
/* ****************************************************************************************************************** */
/* ******************************************** Buttons ************************************************************* */
.buttonStandard{
  border-radius:5px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  padding: 15px;
  width:150px;
  height: 65px;
  background-color: #46426E;
  border:none;
  color:white;
  font-weight: bold;
  text-transform: uppercase;
}
.buttonStandard:hover{
  color:#46426E;
  background-color: white;
  box-shadow: rgba(255, 254, 254, 0.4) 0px 0px 0px 2px, rgba(40, 41, 43, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.buttonAdmin{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;  
  padding: 5px;
  background-color:#9C242D;
  border:none;
  color:white;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 19px;
  margin-top:-3.5px;
}

.buttonAdmin:hover{
  background-color:#d8323d;

}

.buttonValid{
  background-color: #46426E;
  border-radius: 5px;
  border:none;
  font-size: 19px;
  padding:5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;  
  color:white;
}
.buttonValid:hover{
  background-color: #746fb4;

}
/* ***************************************** interface Player *********************************************** */
.buttonPlayerContainer{
  margin-left: 20%;
  margin-top: 9.5%;
}
.playButton{
  padding:45px 30px;
  background-color: white;
  border-radius:50%;
  text-decoration:none;
  color:#083D55;
  font-size: 35px; 
}
.playButton:hover{
  color:#083D55;
  background-color: #fbff00;
}

/* *************************************************Interface TeamBuilding **************************************************** */
.avatar_button{
  width:100px;
  height:100px;
  padding:0;
  border: none;
  margin-right: 10px;
  background-color: white;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.avatar_button:focus{

  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  filter: contrast(90%);
  border-radius: 50%;

} 
.avatar_button:hover{

  filter: contrast(60%);
  border-radius: 50%;

} 

.color_button{
  width:90px;
height:90px;
border-radius: 50%;
border: none;
padding: 0;
margin-right: 50px;
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
margin-bottom: 25px;
margin-top: 25px;

}

.color_button:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.color_button:focus{

  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  filter: contrast(50%);

} 

.buttonGame{
  border-radius:50%;
  padding: 15px;
  width:120px;
  height: 120px;
  margin-top: 65px;
  background-color: rgba(255, 255, 255, 0.123);
  border:none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  color:red;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  z-index:1;
}


.containerTeamRandom button{
  border-radius: 50%;
  height:140px;
  width:140px;
  padding:5px;
  font-size: 20px;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;  background-color: transparent;
  background-image:url('./pictures/color.gif') ;
  border:#46426E;
  color:white;
  margin-bottom: 3%;

}


/* ****************************************************************************************************************** */
/* ***********************************************LINK ************************************************************** */
.linkStandard{
  border-radius:5px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  padding: 20px;
  background-color: #46426E;
  border:none;
  color:white;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.linkStandard:hover{

  background-color: #6c66ad;
  box-shadow: rgba(255, 254, 254, 0.4) 0px 0px 0px 2px, rgba(40, 41, 43, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;


}
.linkAdmin{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;  
  padding: 5px;
  background-color:#DCC3A6;
  border:none;
  color:white;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 19px;

}
.linkAdmin:hover{
  background-color:#b9a58d;

}

.linkAdminCreate{
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color:white;
  font-size: 22px;
}

.linkGame{
  border-radius:50%;
  padding: 40px 30px;
  background-color: rgba(255, 255, 255, 0.123);
  border:none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  color:red;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  z-index:1;
  text-decoration: none;
  margin-left: 80%;

}
.bonnet{
float:right;
position: absolute;
margin-left: 20.5%;
margin-top: -5%;

}


/* ******************************************************************************************************************* */
/* ***************************************************** LABEL ******************************************************* */
label{
  font-size: 20px;
}


.containerTeam label{
  font-size: 25px;
}

/* *******************************************************TITLE ****************************************************** */


.containerCategorie h1, h3{
  text-align: center;
  margin-bottom: 5%;
}
.containerCategorie h5{
  margin-top: 20px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 20px;
}

/* ******************************************************************************************************************** */
/* ***************************************************************IMG ************************************************* */

/* ******************************************************************************************************************** */

/* *********************************************NAV ******************************************************** */
.nav{
  background-color: #46426E;
  height:110px;
}

.titleNav{
  color:white;
  margin-left:600px;
  margin-top:2%;
}
.nav-link-color{
  color:#FF0000;
}
.nav-link-color:hover{
  color:white;
}
.nav-link-color:active{
  color:yellow;
}
.identifiantNav{
  margin-left:20%;
  margin-top:1%;
  text-decoration:none; 
  font-size: 23px;
}

.dropdown-menu{
  background-color: #46426E;
  border:none;
}

.dropdown-item{
  color:white;
  font-size: 19px;

}

.titleNavTeam{
  margin-left:670px;
  margin-top:2%;
  font-size: 50px;
}

/* ************************************************************************************************************** */

/* ********************************************************* Modal ********************************************** */
.modal{
  background-color: #46426E;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.modal h5, h3{
  color:black;
  text-align: center;
}

.modal img{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 50%;
  margin-left: 15%;
}

/* **************************************************************************************************************** */

/* *********************************************************Interface Admin ***********************************/

  .no_categorie_show{
    margin-bottom: 50px;
  }

  .container_summary h1{
    text-align: center;
    margin-bottom: -70px;
    color:white;
  }
  .container_summary ul{
    border:none;
    background-color: rgba(70, 66, 110, 0.918);
    margin-left: 23%;
    width:56%;
    height:500px;
    padding-top: 200px;
    border-radius: 5px;
 
    }

  .container_summary li{
    text-decoration: none;
    height:50px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #46426E;
   text-align: center;
   font-size: 25px;
   margin-top: -70px;

  }
  .container_summary a:hover{
    color:white;

  }
  .container_summary a{
    color:white;
    font-weight: bold;
  }
  tbody{
   font-size: 19px;
   font-weight: bold;
   color:white;
   text-align: center;
   box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  }
  thead{
    text-align: center;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
   }
   table{
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
   }
  .containerLinkAdmin{
    width:100%;
    background-color: #FF3144;
   }

   .containerLinkCreateAdmin{
    background-color:#6ca766;
    text-align: center;
  }
  .containerLinkCreateAdmin:hover{
    background-color:#4e7a49;

  }

  .inputUpdate{
    margin-top: 8%;
    margin-bottom: 3%;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
  }

  .buttonStandardUpdate{
    margin-right: 30%;
  }

  .inputCreate{
    margin-top: 4%;
    margin-bottom: 3%;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
  }

  #good_answer{
    margin-left: 40%;
    background-color: #157347;
    color:white;
    padding: 2px;
    border-radius: 20%;
  }

  #answer_show{
    margin-left: 8%;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
  }
  #question_show{
    font-size: 20px;
    font-style: italic;
    display: flex;
    margin-bottom: 5%;

  }
  
.answerUpdate{
  margin-left: 10px;
  width:100%;

}
.questionUpdate{
  margin-left: 10px;
  width:76.5%;
}
.questionUpdate form{
  display:flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.answerUpdate input{
  border-radius: 5px;
  border:none;
  width: 150px;
  margin-top: -15px;
  font-size: 19px;
  height:50px;
}

.questionUpdate input{
  border-radius: 5px;
  border:none;
  padding:5px;
  width: 293px;
  margin-top: -9px;
  font-size: 19px;
}
.answerUpdate form{
  display:flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.form-select{
  padding:8px 1px;
  width:170px;
  
}

  /* *************************************************************************************************************** */
.containerPlayer{
  height:400px;
  display: flex;
  justify-content: center;
 
}

.containerButtonPlayer{
  margin-top: 15%;

}


.categorieButton{
  padding:40px 60px;
  background-color:#FF0000;
  border-radius:5px;
  text-decoration:none;
  color:white;
  font-size: 45px; 
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-right:30px;

}


/* .containerCategorie button{
  margin-left: 80%;
  padding:20px 10px;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform-origin: 50% 50%;

} */
.link{
  text-decoration: none;
  color:white;
}
/* 

@keyframes rotating {
  from{
     transform: rotate(0deg);
  }
  to{
     transform: rotate(360deg);
  }
}

.rotating {
 animation: rotating 2s linear infinite;
} */

.homeContainer{
background-color: azure;
}

.timer{
  border-radius: 50%;
  background-color:#157347;
  width:80px;
  height:80px;
  color:yellow;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-left: 100%;
}

.timer p{
  padding-top:25%;
  font-size: 25px;
}

.progress{
  padding: 0;
  height:20px;
}

